.gif-vis-container {
    width: 100%;
    /* background-image: url('./Visuals.gif'); */
    background-size: cover;
    height: 400px;
}

.gif-vis-container .streaming-services-container ul {
    opacity: 1;
    list-style-type: none;
    text-align: right;
    transition: opacity .2s ease-in-out .2s;
}

.visual-container {
    width: 100%;
    height: 400px;
    position: relative;
}

/* .visual-container img {
    object-fit: cover;
} */

.visual-container video {
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    object-fit: cover;
}

.blur {
    filter: blur(6px) !important;
    transition: all .3s ease-in-out .2s;
}
.no-blur {
    filter: blur(0px);
    transition: all .3s ease-in-out .2s;
}

.visual-inner-container {
    width: 1600px;
    max-width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    padding: 60px 40px;
}

.streaming-services-container {
    position: absolute;
    top: 60px;
    right: 0px;
    margin-right: 40px;
}

.visual-container:hover .streaming-services-container ul{
    opacity: 1;
}

.streaming-services-container ul {
    opacity: 0;
    list-style-type: none;
    text-align: right;
    transition: opacity .2s ease-in-out .2s;
}

.streaming-services-container ul li {
    margin-top: 10px;
}

.streaming-services-container ul li a {
    display: inline-block;
}
.streaming-services-container ul li a::after {
    content: '';
    height: 1px;
    width: 0;
    display: block;
    background-color: #ddddd5;
    transition: width .3s ease-in;
}

.streaming-services-container ul li a:hover::after {
    width: 100%;
}


