header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    /* margin: auto; */
    background-color: rgba(0,0,0,.5);
    padding: 0px 60px;
    opacity: 1;
    transition: opacity .3s ease-in .2s;
    margin-bottom: 25px;
    z-index: 100;
}

/* .no-opacity {
    opacity: 0;
} */

nav {
    width: 100%;
    height: 100%;
    position: relative;
}

nav .logo-container {
    display: inline-block;
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

nav .logo-container a {
    display: inline-block;
}

nav .logo-container img {
    display: inline-block;
    /* width: 50px; */
    position: relative;
    filter: drop-shadow(0px 2px 13px #fff);
    /* box-shadow: 2px 2px 30px 5px rgb(0,0,0, .28); */
}

nav .nav-menu-container {
    width: calc(100% - 80px);
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

nav  ul {
    width: 100%;
    /* width: calc(100% - 80px); */
    text-align: right;
    list-style-type: none;
    padding-left: 0px;
    left: calc(50% - 92px);
}

nav  ul li {
    padding: 10px 32px;
    display: inline-block;
}

nav  ul li:first-of-type {
    padding-left:0px;
}

nav .nav-menu-container ul li:last-of-type {
    padding-right:0px;
}

nav .nav-menu-container ul li a {
    color: #ddddd5;
    font-size: 18px;
    text-decoration: none;
}

nav .nav-menu-button {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1000;
} 

.bar {
    width: 100%;
    height: 2px;
    background-color: #ddddd5;
    position: relative;
}

.top-bar {
    transition: all .2s ease-in-out .3s;
    top: 0px;
}

.bottom-bar {
    top: 8px;
    transition: all .2s ease-in-out .3s;
}

.top-bar-clicked {
    transform: rotate(-45deg);
    top: 4px;
    transition: all .2s ease-in-out .3s;
}

.bottom-bar-clicked {
    transform: rotate(45deg);
    top: 2px;
    transition: all .2s ease-in-out .3s;
}

.mobile-menu-visible {
    right:0 !important;
    opacity: 1 !important;
    transition: all .3s ease-in-out .2s;
}

.nav-menu-mobile-container {
    height: 100vh;
    width: 860px;
    max-width: 80%;
    background-color: rgb(255,255,255);
    position: fixed;
    right: 0px;
    z-index: 10;
}

.nav-menu-mobile-container ul {
    z-index: 11;
    display: block;
}

.nav-menu-mobile-container ul li {
    display: block;
}

@media screen and (max-width: 900px) {

    nav .nav-menu-container {
        height: 100vh;
        width: 860px;
        max-width: 80%;
        background-color: rgba(255, 255, 255, 0.9);
        position: fixed;
        right: -860px;
        z-index: 10;
        transition: all .3s ease-in-out .2s;
        opacity: 0;
    }

    nav .nav-menu-container ul li a {
        font-size: 36px;
        color: #231f22;
    }

    nav ul {
        width: 50%;
        /* display: none; */
        position: absolute;
        top: 50%;
        left: calc(50% - 92px);
        transform: translate(-50%, -50%);
        margin: auto;
        text-align: center;
        /* right: 50%;
        transform: translateX(-50%); */
    }

    nav ul li{
        display: block;
        margin:auto;
        padding: 10px 32px;
    }

    nav ul li:first-of-type {
        padding-left: 32px;
    }

    nav ul li:last-of-type {
        padding-right: 32px;
        display: block;
        margin:auto;
    }
    
    nav ul li a {
        font-size: 36px;
    }

    nav .nav-menu-button {
        display: block;
    }
}