.contact-form-container {
    margin: auto;
    width: 400px;
    max-width: 100%;
}

.msg-container {
    font-family: North Carossela;
    margin-top: 40px;
    text-align: center;
    opacity: 0;
    transition: opacity .3s ease-in;
}

form {
    width: 100%;
}

form .input-field-container {
    position: relative;
    height: 80px;
}

form label {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 2px;
}

form .required-field {
    margin-left: 2px;
    font-size: 12px;
    position: relative;
    top: -6px;
    /* color: #ff1105; */
}

form input {
    width: 100%;
    margin-bottom: 16px;
    height: 36px;
    font-size: 18px;
    font-family: North Carossela;
    /* border-radius: 25px; */
    /* border: none; */
    border: 1px solid #ddddd5;
    color: #ddddd5;
    background-color: transparent;
    padding-left: 8px;
    padding-top: 3px;
}

form #message-container {
    height: 202px;
    position: relative;
    margin-bottom: 36px;
}

form textarea {
    width: 100%;
    height: 158px;
    font-size: 18px;
    font-family: North Carossela;
    border: 1px solid #ddddd5;
    color: #ddddd5;
    background-color: transparent;
    padding-left: 8px;
    padding-top: 8px;
}

form .error-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 10px;
    color: #ff1105;
    /* display: none; */
    opacity: 0;
    transition: all .3s ease-in .1s;
}

form button {
    width: 164px;
    height: 40px;
    border: 1px solid #ddddd5;
    /* border-radius: 25px; */
    font-size: 18px;
    font-weight: 700;
    font-family: North Carossela;
    color: #ddddd5;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s ease-in-out .2s;
    padding-top: 5px;
}

form button:hover:enabled {
    background-color: #ddddd5;
    color: black;
}

form button:disabled {
    border-color: #231f22;
    color: #231f22;
    cursor: default;
}


form input:focus, form textarea:focus {
    outline: none;
}