header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    /* margin: auto; */
    background-color: rgba(0,0,0,.5);
    padding: 0px 40px;
    opacity: 1;
    transition: opacity .3s ease-in-out .2s;
    margin-bottom: 25px;
    z-index: 100;
}

/* .no-opacity {
    opacity: 0;
} */

nav {
    width: 100%;
    height: 100%;
    position: relative;
}

nav .logo-container {
    display: inline-block;
    width: 50px;
    height: 47px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

nav .logo-container a {
    display: inline-block;
}

nav .logo-container img {
    display: inline-block;
    width: 50px;
    height: 47px;
    position: relative;
    filter: drop-shadow(0px 2px 13px #fff);
    opacity: .75;
    transition: all .2s ease-in .1s;
}
nav .logo-container img:hover {
    opacity: 1;
}

nav .nav-menu-container {
    width: calc(100% - 80px);
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}

nav  ul {
    width: 100%;
    /* width: calc(100% - 80px); */
    text-align: right;
    list-style-type: none;
    padding-left: 0px;
    left: calc(50% - 92px);
}

nav  ul li {
    padding: 10px 32px;
    display: inline-block;
}

nav  ul li:first-of-type {
    padding-left:0px;
}

nav .nav-menu-container ul li:last-of-type {
    padding-right:0px;
}

nav .nav-menu-container ul li a {
    color: #ddddd5;
    font-size: 18px;
    text-decoration: none;
}

nav .nav-menu-container ul li a::after {
    content: '';
    height: 1px;
    width: 0;
    position: relative;
    /* top: -1px; */
    display: block;
    background-color: #ddddd5;
    transition: width .3s ease-in;
}

nav .nav-menu-container ul li a:hover::after {
    width: 100%;
}

nav .nav-menu-button {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1000;
} 

.bar {
    width: 100%;
    height: 2px;
    background-color: #ddddd5;
    position: relative;
}

.top-bar {
    transition: all .2s ease-in-out .3s;
    top: 8px;
}

.bottom-bar {
    top: 16px;
    transition: all .2s ease-in-out .3s;
}

.top-bar-clicked {
    transform: rotate(-45deg);
    top: 12px;
    transition: all .2s ease-in-out .3s;
    background-color: #000000;
}

.bottom-bar-clicked {
    transform: rotate(45deg);
    top: 10px;
    transition: all .2s ease-in-out .3s;
    background-color: #000000;
}

/* .mobile-menu {
    right: -860px !important;
    opacity: 0;
    transition: all .3s ease-in-out .2s;
} */

.mobile-menu-visible {
    right: 0 !important;
    opacity: 1 !important;
    transition: all .3s ease-in-out .2s;
}

/* .nav-menu-mobile-container {
    height: 100vh;
    width: 860px;
    max-width: 80%;
    background-color: rgb(255,255,255);
    position: fixed;
    right: 0px;
    z-index: 10;
}

.nav-menu-mobile-container ul {
    z-index: 11;
    display: block;
}

.nav-menu-mobile-container ul li {
    display: block;
} */

@media screen and (max-width: 900px) {

    header {
        padding: 0px 20px;
    }

    nav .nav-menu-container {
        height: 100vh;
        width: 860px;
        max-width: 75%;
        background-color: rgba(221, 221, 213, 0.9);
        position: fixed;
        right: -860px;
        z-index: 10;
        /* transition: all .3s ease-in-out .3s; */
        /* opacity: 0; */
    }

    nav .nav-menu-container ul li {
        width: auto;
    }

    nav .nav-menu-container ul li a {
        font-size: 36px;
        color: #231f22;
        display: inline-block;
    }

    nav .nav-menu-container ul li a::after {
        /* content: '';
        height: 1px;
        width: 0;
        display: block; */
        background-color: #000000;
        /* transition: width .3s ease-in; */
    }
    
    nav .nav-menu-container ul li a:hover::after {
        width: 100%;
    }

    nav ul {
        width: 50%;
        /* display: none; */
        position: absolute;
        top: 50%;
        left: calc(50% - 50px);
        transform: translate(-50%, -50%);
        margin: auto;
        text-align: center;
        /* right: 50%;
        transform: translateX(-50%); */
    }

    nav ul li{
        display: block;
        margin:auto;
        padding: 10px 32px;
        text-align: left;
    }

    nav ul li:first-of-type {
        padding-left: 32px;
    }

    nav ul li:last-of-type {
        padding-right: 32px;
        display: block;
        margin:auto;
    }
    
    nav ul li a {
        font-size: 36px;
    }

    nav .nav-menu-button {
        display: block;
    }
}